<div class="card">
  <div class="content">
    <div class="row">
      <div class="col-xs-4">
        <div class="icon-big icon-warning text-center">
          <i class="ti-time"></i>
        </div>
      </div>
      <div class="col-xs-8">
        <div class="numbers">
          <p>Celkem v práci</p>
          {{ $ctrl.statsStorage.getStats( $ctrl.user, $ctrl.start, $ctrl.end ) | hoursSummarizer | humanReadable }}
        </div>
      </div>
    </div>
    <div class="footer">
      <hr />
      <div class="stats">
        <i class="ti-calendar"></i> {{ $ctrl.start | moment: 'D.MMMM' }}&nbsp;-&nbsp;{{ $ctrl.end | moment: 'D.MMMM' }}
      </div>
    </div>
  </div>
</div>
