body {
    background: #e6e6e6;
}

.table-details .ti-pencil,
.table-details .ti-info{
	color: #000;
	position: absolute;
	margin-top: -2px;
        margin-left: 0;
	transition: .3s;
}
.table-details .ti-info:hover,
.table-details .ti-pencil:hover{
	font-size: 2.2em;
	margin-top: -13px;
        margin-left: -10px;

}

.table-details .ti-timer {
  cursor: pointer;
}

.table-details .ti-pencil:hover{
    transform: rotate(-15deg);
}

.card .footer {
  white-space: nowrap;
  overflow: hidden;
}

.card .footer .too-long {
    display: inline-block;
    text-indent: 0;
    animation: marquee 15s linear infinite;
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.card-hoverable,
.card{
    transition: .3s;
    transition-timing-function: ease-in-out;
}

.card:hover,
.card-hoverable:hover{
    box-shadow: 2px 4px 2px 2px rgba(176, 154, 113, 0.5);
}

.full-width {
    width: 100%;
}

.doorman-item {
    font-size: 2em !important
}

.bottom-line {
    border-bottom: 2px solid black;
}

.capitalize {
    text-transform: capitalize;
}

.ct-chart{
    position: relative;
}

.btn.doorman-item {
    line-height: 2.0;
}
.btn-success.doorman-item {
    background: #6ab2ea;
    color: white;
    border-color: #6699dd;
}
.navbar-default {
  margin-bottom: 0px;
  height: 45px;
  min-height: 45px;
}

@media (max-height: 768px) {
    .navbar .navbar-brand {

    }
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
}
