<div class="card">
    <div class="content">
        <div class="row">
            <div class="col-xs-5">
                <div class="icon-big icon-danger text-center">
                    <i class="ti-pulse"></i>
                </div>
            </div>
            <div class="col-xs-7">
                <div class="numbers">
                    <p>Chyby</p>
                    {{ $ctrl.statsStorage|stats:$ctrl.user:$ctrl.start:$ctrl.end | errorCountTotal }}
                </div>
            </div>
        </div>
        <div class="footer">
            <hr />
            <div class="stats">
                <i class="ti-timer"></i> Ve {{ $ctrl.statsStorage|stats:$ctrl.user.id:$ctrl.start:$ctrl.end | errorCountDays }} dnech
            </div>
        </div>
    </div>
</div>