<div class="card" title="Ukazuje se, je-li začátek a konec zobrazovaného období ve stejném měsíci">
    <div class="content">
        <div class="row">
            <div class="col-xs-4">
                <div class="icon-big icon-warning text-center">
                    <i class="ti-medall"></i>
                </div>
            </div>
            <div class="col-xs-8">
                <div class="numbers">
                    <p>Splněno úvazku</p>
                    {{ $ctrl.statsStorage|stats:$ctrl.user.id:$ctrl.start:$ctrl.end | loadSummarizer:$ctrl.user.attributes.load:$ctrl.start:$ctrl.end }}&nbsp;%
                </div>
            </div>
        </div>
        <div class="footer">
            <hr />
            <div class="stats">
                <i class="ti-calendar"></i> {{ $ctrl.statsStorage|stats:$ctrl.user.id:$ctrl.start:$ctrl.end | loadInformator:$ctrl.user.attributes.load:$ctrl.start:$ctrl.end }}
            </div>
        </div>
    </div>
</div>