<div class="modal-header">
    <h3 class="modal-title text-info" style="text-transform: capitalize">
        {{ date | moment: 'dddd, D.M.YYYY' }}
    </h3>
</div>
<div class="modal-body">

    <table class="table table-hover table-responsive">

        <thead>
        <th>Příchod</th>
        <th>Odchod</th>
        <th>Důvod odchodu</th>
        </thead>


        <tbody>
            <tr 
                data-ng-repeat="u in units" 
                data-ng-class="u.attributes.complete ? 'success' : 'danger'">
        <td>
            <div data-ng-if="$root.user.attributes.admin">
                <input
                    data-tooltip-enable='u.related.start.attributes.edited'
                    data-uib-tooltip-template="'app/user-stats/table-details/tooltip.start.template.html'" 
                    type="time"
                    class="form-control" 
                    data-ng-model="u.attributes.start" 
                    data-ng-disabled="!u.attributes.start_id" 
                    data-ng-change="changeRecord(u.attributes.start_id, u.attributes.start)" >

            </div>
            <span  data-ng-if="!$root.user.attributes.admin" >
                {{ u.attributes.start | date: 'HH:mm:ss'}}
            </span>

        </td>
        <td>
            <div data-ng-if="$root.user.attributes.admin">
                <input 
                    data-tooltip-enable='u.related.end.attributes.edited'
                    data-uib-tooltip-template="'app/user-stats/table-details/tooltip.end.template.html'" 
                    type="time"
                    class="form-control"  
                    data-ng-disabled="!u.attributes.end_id"
                    data-ng-model="u.attributes.end" 
                    data-ng-change="changeRecord(u.attributes.end_id, u.attributes.end)">
            </div>
            <span  data-ng-if="!$root.user.attributes.admin">
                {{ u.attributes.end | date: 'HH:mm:ss' }}
            </span>
        </td>
        <td>
            <div data-ng-if="!$root.user.attributes.admin">
                {{ translateTable[u.attributes.leave_reason]}}
            </div>
            <div data-ng-if="$root.user.attributes.admin">
                <select ng-model="u.attributes.leave_reason" ng-options="idx *  1 as choice for ( idx, choice) in translateTable" ng-change="changeRecord(u.attributes.end_id, null, u.attributes.leave_reason)"></select>
            </div>
        </td>
        <td data-ng-if="$root.user.attributes.admin">
            <button class="btn btn-danger" data-ng-click="deleteUnit(u)"><i class="ti-minus"></i></button>
        </td>

        </tr>

        </tbody>

    </table>

    <table class="table table-hover table-responsive" data-ng-if="user.attributes.admin">

        <thead>
        <th>Nový záznam</th>
        </thead>


        <tbody>
            <tr data-ng-repeat="n in neu" class="info">
                <td>
                    <input type="time" class="form-control" data-ng-model="n.time" data-ng-change="changeStart('new', n.time)">

                </td>
                <td>
                    <i class="ti-direction-alt"></i>&nbsp;
                    <select data-ng-model="n.direction" data-ng-options="id *  1 as choice for (id,choice) in typeTable" ></select>
                </td>
                <td>
                    <select data-ng-disabled="n.direction" ng-model="n.type" ng-options="idx *    1 as choice for ( idx, choice) in translateTable" ng-change="changeEnd('neu', null, u.attributes.leave_reason)"></select>
                </td>
                <td>
                    <button class="btn btn-danger" data-ng-click="deleteRecord(n)"><i class="ti-minus"></i></button>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <button data-ng-click="addRecord()" class="btn btn-success btn-block"> <i class="ti-plus"></i> </button>
                </td>
            </tr>

        </tbody>

    </table>

</div>
<div class="modal-footer">
    <button data-ng-if="user.attributes.admin" class="btn btn-success" type="button" ng-click="save()">
        <i class="ti-save"></i>&nbsp;
        Uložit
    </button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">
        <i class="ti-close"></i>&nbsp;
        Zavřít
    </button>
</div>