<div class="card card-hoverable">
    <div class="header">
        <h4 class="title">Tabulka docházky</h4>
        <p class="category">Hodin za den</p>
    </div>
    <div class="content table-responsive table-details" >
        <div class="row">
            <div class="col-sm-4" ng-repeat="i in [0, 1, 2]">
                <table class="table table-striped">
                    <thead>
                    <th><i class="icon-info ti-calendar"></i>&nbsp;Datum</th>
                    <th><i class="icon-warning ti-time"></i>&nbsp;Hodiny</th>
                    </thead>
                    <tbody>
                        <tr
                            data-ng-repeat="day in $ctrl.statsStorage|stats:$ctrl.user:$ctrl.start:$ctrl.end | data | limitTo: ($ctrl.statsStorage|stats:$ctrl.user:$ctrl.start:$ctrl.end | length | proColumn) : i* ($ctrl.statsStorage|stats:$ctrl.user:$ctrl.start:$ctrl.end | length | proColumn) "
                            data-ng-class="{
                                        'success': day.attributes.vacation,
                                        'danger': day.attributes.warnings ,
                                        'bottom-line': (day.id | endOfWeek),
                                        'warning': (day.id | isWeekend) || (day.id | isHoliday)}" >
                            <td
                                title="{{ (day.id | isHoliday ) ? 'Státní svátek' : ''}}">
                                <i data-ng-class="{
                                    'icon-info ti-calendar': !(day | isDoctor) && !(day.id | isHoliday ) && !( day.id | isWeekend ),
                                    'icon-danger ti-heart': (day | isDoctor),
                                    'icon-success ti-announcement': (day.id | isHoliday ) && !( day.id | isWeekend ),
                                    'icon-info ti-shine': ( day.id | isWeekend )
                                }"></i>&nbsp;
                                {{ day.id | moment:'dd, D.M'}}

                            </td>
                            <td>
                                {{ day.attributes.total | duration:'h' }}h
                                <span data-ng-if="day.attributes.total | duration: 'minutes'">
                                    {{ day.attributes.total | duration: 'minutes' }}m
                                </span>&nbsp;
                                <span class="pull-right"style="margin-right: 5px">
                                    <span data-ng-if="$root.user.attributes.admin && day.attributes.total == 0"
                                          data-ng-click="$ctrl.AddFullTime( day.id, day.meta.employee_id )"
                                          class="ti-timer">
                                    </span>&nbsp;
                                    <span data-ng-click="$ctrl.openModal(day.id, day.meta.employee_id)" class="pull-right" ng-class="$root.user.attributes.admin ? 'ti-pencil' : 'ti-info'" style="cursor: pointer"></span>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="footer">
            <hr />
            <div class="stats"> <span class="ti-timer"></span> V aktuálním období
            </div>
        </div>
    </div>

</div>
