<div>
    <p data-ng-if='u.related.end.attributes.edited.type === "Employee"'>
        Poslední změnu provedl {{ u.related.end.attributes.edited.id | userIdToName }} 
        dne {{ u.related.end.attributes.edited.time | strToMoment | moment: 'DD.MM.YYYY'}}
        v {{ u.related.end.attributes.edited.time | strToMoment | moment: 'HH:mm'}}
        z počítače s IP {{ u.related.end.attributes.edited.device }} 
    </p>
    <p data-ng-if='u.related.end.attributes.edited.type === "Group"'>
        Poslední změna byla provedena  dne {{ u.related.end.attributes.edited.time | strToMoment | moment: 'DD.MM.YYYY'}}
        v {{ u.related.end.attributes.edited.time | strToMoment | moment: 'HH:mm'}}
        na doormanu, ve skupině {{ u.related.end.attributes.edited.id | groupIdToName }} 
        z počítače s IP {{ u.related.end.attributes.edited.device }} 
    </p>
</div>