<style>

    .form-signin {
        max-width: 500px;
        padding: 15px;
        margin: 0 auto;
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }
    .form-signin .checkbox {
        font-weight: normal;
    }
    .form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }
    .form-signin input[type="text"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border: 1px solid;
    }
    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border: 1px solid;
        border-top-width: 0;
    }

</style>
<div class="container">

    <form class="form-signin">
        <h2 class="form-signin-heading">Přihlášení | Docházka</h2>
        
        <div class="alert alert-danger" data-ng-repeat="error in $ctrl.errors">
            {{ error }}
        </div>
        
        <label for="inputIdentity" class="sr-only">Username</label>
        <input type="text" id="inputIdentity" class="form-control" placeholder="Username nebo email" data-ng-model="$ctrl.user.data.identity" required autofocus>
        <label for="inputPassword" class="sr-only">Heslo</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Heslo" required data-ng-model="$ctrl.user.data.password">
        <button class="btn btn-lg btn-primary btn-block" type="submit" data-ng-click="$ctrl.login()">Přihlášení</button>
    </form>

</div> <!-- /container -->
