<div class="wrapper">
    <div data-ng-controller="sideBarController" class="sidebar" data-background-color="black" data-active-color="{{sidebarColor}}">

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.fiedler.company" class="simple-text">
                    Fiedler ams
                </a>
            </div>

            <ul class="nav">
              <li data-ui-sref-active-eq="active">
                  <a data-ui-sref="stats.present">
                      <i class="ti-angle-double-right"></i>
                      <p>Přítomní&nbsp;<span class="ti-user"></span></p>
                  </a>
              </li>
                <li data-ui-sref-active-eq="active" data-ng-show="$root.user.attributes.admin">
                    <a data-ui-sref="stats.daily">
                        <i class="ti-agenda"></i>
                        <p>Denní přehled</p>
                    </a>
                </li>
                <li data-ui-sref-active-eq="active" data-ng-show="$root.user.attributes.admin">
                    <a data-ui-sref="stats.overview">
                        <i class="ti-dashboard"></i>
                        <p>Firemní nástěnka</p>
                    </a>
                </li>
                <li data-ui-sref-active-eq="active" data-ng-show="!$root.user.attributes.maintainer">
                    <a data-ui-sref="stats.dashboard({ viewedUserId: $root.user.id })">
                        <i class="ti-pie-chart"></i>
                        <p>Moje nástěnka</p>
                    </a>
                </li>
                <li data-ui-sref-active="active" data-ng-if="$root.user.attributes.admin" ng-repeat="u in users| noMaintainer | orderBy: 'attributes.name'">
                    <a data-ui-sref="stats.dashboard({ viewedUserId: u.id })">
                        <i class="ti-user"></i>
                        <p>{{u.attributes.name}}</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav data-ng-controller="navbarController as $ctrl" class="navbar navbar-default" style="min-height:75px">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Docházka | {{ $root.serverTime | date:'HH:mm:ss'}}</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle capitalize" data-toggle="dropdown">
                                <i class="{{ actualPeriod.icon}}"></i>
                                <p>{{actualPeriod.title}}</p>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li data-ng-repeat="p in periodOptions">
                                    <a ng-click="changePeriod($index)" class='capitalize'>
                                        <i class="{{ p.icon}}"></i> &nbsp;{{ p.title}}
                                    </a>
                                </li>
                                <li>
                                    <a data-ng-click="openModal()">
                                        <i class="ti-pencil"></i>&nbsp;Vlastní
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-user"></i>
                                <p>{{$root.user.attributes.name}}</p>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a data-ui-sref="stats.settings">
                                        <i class="ti-settings"></i> &nbsp;Nastavení
                                    </a>
                                </li>
                                <li>
                                    <a data-ng-click="logout()">
                                        <i class="ti-arrow-left"></i> &nbsp;Odhlásit se
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>


        <div class="content">
            <ui-view></ui-view>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left copyright">
                   Made with <i class="text-danger ti-heart"></i> by <a href="http://www.kabele.me">Vít Kabele</a>
                </nav>
                <div class="copyright pull-right">
                    &copy; 2016, free template by <a href="http://www.creative-tim.com">Creative Tim</a>
                </div>
            </div>
        </footer>

    </div>

</div>
