<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <daily-graph></daily-graph>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <card-average 
                data-user="$ctrl.user.data.id" 
                data-start="$ctrl.displayPreferences.period.start" 
                data-end="$ctrl.displayPreferences.period.end"></card-average>
        </div>
        <div class="col-lg-3 col-sm-6">
            <card-total
                data-user="$ctrl.user.data.id"
                data-start="$ctrl.displayPreferences.period.start"
                data-end="$ctrl.displayPreferences.period.end"></card-total>
        </div>
        <div class="col-lg-3 col-sm-6">
            <card-vacation
                data-user="$ctrl.user.data.id"
                data-start="$ctrl.displayPreferences.period.start"
                data-end="$ctrl.displayPreferences.period.end"></card-vacation>
        </div>
        <div class="col-lg-3 col-sm-6">
            <card-errors
                data-user="$ctrl.user.data.id"
                data-start="$ctrl.displayPreferences.period.start"
                data-end="$ctrl.displayPreferences.period.end"></card-errors>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <table-details
                    data-user="$ctrl.user.data.id"
                    data-start="$ctrl.displayPreferences.period.start"
                    data-end="$ctrl.displayPreferences.period.end"></table-details>
        </div>
        <div class="col-md-4">
            <div class="row">
                <card-done
                    data-user="$ctrl.user.data"
                    data-start="$ctrl.displayPreferences.period.start"
                    data-end="$ctrl.displayPreferences.period.end"></card-done>
           
            </div>
            <div class="row">
                <card-reasons
                    data-user="$ctrl.user.data"
                    data-start="$ctrl.displayPreferences.period.start"
                    data-end="$ctrl.displayPreferences.period.end"></card-reasons>
            </div>
        </div>

    </div>
</div>