<div class="container-fluid">

    <div class="row" data-ng-repeat="user in $ctrl.users|noMaintainer|orderBy:'attributes.name'">
        <div class="row">
            <div class="col-md-6">
                <a data-ui-sref="stats.dashboard({ viewedUserId: user.id })">
                    <h3>{{ user.attributes.name}} <small>(Přihlášen {{$ctrl.statsStorage.storage[user.id] | sumLogin }}&times;)</small></h3>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <card-total
                    data-user="user.id"
                    data-start="$ctrl.displayPreferences.period.start"
                    data-end="$ctrl.displayPreferences.period.end"></card-total>
            </div>
            <div class="col-md-3">
                <card-average
                    data-user="user.id"
                    data-start="$ctrl.displayPreferences.period.start"
                    data-end="$ctrl.displayPreferences.period.end"></card-average>
            </div>
            <div class="col-md-3">
                <card-done
                    data-user="user"
                    data-start="$ctrl.displayPreferences.period.start"
                    data-end="$ctrl.displayPreferences.period.end"></card-done>
            </div>
            <div class="col-md-3">
                <card-vacation
                    data-user="user.id"
                    data-start="$ctrl.displayPreferences.period.start"
                    data-end="$ctrl.displayPreferences.period.end"></card-vacation>
            </div>
        </div>


    </div>

</div>