<div class="modal-header">
    <h3 class="modal-title">Volba období</h3>
</div>
<div class="modal-body">

    <div class="container-fluid">
        <form name="myForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label data-ng-class="{'text-danger': myForm.start.$error.max || !myForm.start.$valid }">
                            <span data-ng-show="myForm.start.$valid">
                                Začátek
                            </span>

                            <span data-ng-show="!myForm.start.$valid && !myForm.start.$error.max">
                                Neplatné datum
                            </span>

                            <span data-ng-show="!!myForm.start.$error.max">
                                Maximálně {{duration.end|date:"dd/MM/yyyy"}}
                            </span>
                        </label>
                        <input type="date" name="start" class="form-control border-input" placeholder="Začátek" data-ng-model="duration.start" max="{{duration.end|date:'yyyy-MM-dd'}}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label data-ng-class="{'text-danger': myForm.end.$error.max || !myForm.end.$valid }">
                            <span data-ng-show="myForm.end.$valid">
                                Konec
                            </span>

                            <span data-ng-show="!myForm.end.$valid && !myForm.end.$error.max">
                                Neplatné datum
                            </span>

                            <span data-ng-show="!!myForm.end.$error.max">
                                Maximálně {{yesterday|date:"dd/MM/yyyy"}}
                            </span>
                        </label>
                        <input type="date" name="end" required class="form-control border-input" placeholder="Konec" data-ng-model="duration.end" max="{{yesterday|date:'yyyy-MM-dd'}}">
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" data-ng-click="cancel()">
        <i class="ti-close"></i>&nbsp;
        Zavřít
    </button>
    <button class="btn btn-success" data-ng-class="{'disabled': (!myForm.start.$valid || !myForm.end.$valid)}" type="button" data-ng-click="save()">
        <i class="ti-save"></i>&nbsp;
        Potvrdit
    </button>
</div>
