<div class="card">
    <div class="content">
        <div class="row">
            <div class="col-xs-5">
                <div class="icon-big icon-success text-center">
                    <i class="ti-calendar"></i>
                </div>
            </div>
            <div class="col-xs-7">
                <div class="numbers">
                    <p>Dní dovolené</p>
                    {{ $ctrl.statsStorage.getStats( $ctrl.user, $ctrl.start, $ctrl.end) | vacationSummarizer }}
                </div>
            </div>
        </div>
        <div class="footer">
            <hr />
            <div class="stats too-long">
                <i class="ti-calendar"></i> {{ $ctrl.start | moment: 'D.MMMM' }}&nbsp;-&nbsp;{{ $ctrl.end | moment: 'D.MMMM' }} | Mimo víkendy
            </div>&nbsp;
            <div class="stats too-long">
                <i class="ti-calendar"></i> {{ $ctrl.start | moment: 'D.MMMM' }}&nbsp;-&nbsp;{{ $ctrl.end | moment: 'D.MMMM' }} | Mimo víkendy
            </div>
        </div>
    </div>
</div>
