<nav class="navbar navbar-default">
    <div class="container" style="max-height:45px">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header visible-md-block visible-lg-block" style="max-height: 45px">
            <a class="navbar-brand" href="http://www.fiedler.company" style="text-transform: uppercase;margin:0;padding: 15px 0">Fiedler ams</a>
        </div>

        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" style="height: 35px; padding:0;margin: 10px 0 0 0">Čas serveru: {{ $root.serverTime | date:'HH:mm:ss'}}</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div id="overlay" style="display: {{ $ctrl.overlay ? 'block' : 'none' }}">
        <h1 style="margin-left: auto; margin-right: auto; margin-top: 150px;width: 300px">čekejte prosím</h1>
    </div>
    <div class="row" data-ng-if="$ctrl.groups.length > 0 && $ctrl.groupfilter.length === 0">
        <div data-ng-repeat="group in $ctrl.groups" class="col-md-4" style="margin-top: 20px">
            <div class="btn-group btn-group-lg full-width">
                <div class="btn btn-info full-width doorman-item" data-ng-click="$ctrl.setGroup(group)">
                    <i class="glyphicon glyphicon-th-large"></i> {{ group.attributes.name}}
                </div>
            </div>
        </div>

    </div>

    <div data-ng-if="$ctrl.groups.length === 0 || $ctrl.groupfilter.length > 0" class="row">

        <!-- Single button -->
        <div data-ng-repeat="u in $ctrl.users| groupFilter: $ctrl.groupfilter | noMaintainer" class="col-md-3 col-sm-4" style="margin-top: 20px">

            <div data-ng-if="!u.related.last_record.attributes.direct" class="btn-group btn-group-lg full-width">
                <div class="btn btn-danger full-width doorman-item" data-ng-click="$ctrl.enter(u.id)">
                    {{u.attributes.name}}&nbsp;
                    <span
                        class="glyphicon"
                        data-ng-class="{
                        'glyphicon-heart-empty text-danger': (u.related.last_record.attributes.type == 201),
                        'glyphicon-flag text-success': (u.related.last_record.attributes.type == 200),
                        'glyphicon-user text-warning': (u.related.last_record.attributes.type == 302)
                    }"
                        ></span>
                </div>
            </div>

            <div data-ng-if="u.related.last_record.attributes.direct" class="btn-group btn-group-lg full-width">
                <button
                    type="button"
                    class="btn btn-success doorman-item col-xs-10"
                    data-ng-click="$ctrl.exit(u.id, 0)">
                    {{ u.attributes.name}}
                </button>
                <button type="button" class="btn btn-success dropdown-toggle doorman-item col-xs-2" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">

                    <li data-ng-repeat="( idx, value) in $ctrl.exitReasonTranslate">
                        <a style="font-size: 2em" data-ng-click="$ctrl.exit(u.id, idx)">
                            {{ value}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
