<div class="card">
    <div class="content">
        <div class="row">
            <div class="col-xs-5">
                <div class="icon-big icon-info text-center">
                    <i class="ti-stats-up"></i>
                </div>
            </div>
            <div class="col-xs-7">
                <div class="numbers">
                    <p>Denní průměr</p>
                    {{ $ctrl.statsStorage|stats:$ctrl.user:$ctrl.start:$ctrl.end | averageCounter | humanReadable }}
                </div>
            </div>
        </div>
        <div class="footer">
            <hr />
            <div class="stats too-long">
                <i class="ti-reload"></i> Mimo dovolenou, víkendy a svátky
            </div>&nbsp;
            <div class="stats too-long">
                <i class="ti-reload"></i> Mimo dovolenou, víkendy a svátky
            </div>
        </div>
    </div>
</div>
