<div class="card">
    <div class="header">
        <h4 class="title">
            Statistiky odchodů
        </h4>
    </div>
    <div class="content table-responsive">
        <table class="table table-striped">
            <thead>
            <th>
                Typ odchodu
            </th>
            <th>
                Počet
            </th>
            </thead>
            <tbody>
                <tr ng-repeat="(key, value) in $ctrl.statsStorage|stats:$ctrl.user.id:$ctrl.start:$ctrl.end | tableReasons" >
                    <td>
                        <i data-ng-class="{
                          'ti-heart icon-danger': (key == 201),
                          'ti-heart icon-danger': (key == 202), 
                          'ti-flag-alt-2 icon-info': (key == 0),
                          'ti-cloud icon-success': (key == 200),
                          'icon-warning ti-user': (key == 302)}" ></i>&nbsp;
                        {{ $ctrl.reasonNames[key]}}
                    </td>
                    <td>{{ value}}</td>
                </tr>
            </tbody>
        </table>
        <div class="footer">
            <hr />
            <div class="stats">
                <i class="ti-timer"></i> V aktuálním období
            </div>
        </div>
    </div>

</div>
