<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>Přítomní na pracovišti</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="input-group">
        <span class="input-group-addon">Filtr:</span>
        <input type="text" class="form-control" placeholder="Jméno" data-ng-model="filterInput.attributes.name">
      </div>
      <ul class="list-group">
        <li data-ng-repeat="u in $ctrl.users | noMaintainer | presentFilter | filter:filterInput"
            class="list-group-item">
              <span class="badge">Příchod: {{u.related.last_record.attributes.date | moment: 'HH:mm:ss'}}</span>
              {{u.attributes.name}}
        </li>
      </ul>
    </div>
  </div>

</div>
