<div class="container-fluid">
    <div class="row">



        <div class="col-md-7">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Editovat profil</h4>
                        </div>
                        <div class="content">
                            <div data-ng-repeat="e in $ctrl.u.meta.errors" class="alert alert-danger">
                                <p>{{e}}</p>
                            </div>
                            <form data-ng-submit="$ctrl.updateFormSubmit()">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>Username</label>
                                            <input type="text" class="form-control border-input" disabled placeholder="Username" data-ng-model="$ctrl.actualUser.data.attributes.username">
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" class="form-control border-input" placeholder="Email" data-ng-model="$ctrl.actualUser.data.attributes.email">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Původní heslo</label>
                                            <input type="password" class="form-control border-input" placeholder="Původní heslo" data-ng-model="$ctrl.actualUser.data.attributes.oldPassword">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Nové heslo</label>
                                            <input type="password" class="form-control border-input" placeholder="Nové heslo" data-ng-model="$ctrl.actualUser.data.attributes.password">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Zopakovat heslo</label>
                                            <input type="password" class="form-control border-input" placeholder="Zopakovat heslo" data-ng-model="$ctrl.actualUser.data.attributes.password2">
                                        </div>
                                    </div>
                                </div>


                                <div class="text-center">
                                    <button data-ng-disabled="$ctrl.actualUser.data.attributes.password !== $ctrl.actualUser.data.attributes.password2" type="submit" class="btn btn-info btn-fill btn-wd">Aktualizovat profil</button>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>  
                </div>
            </div>
            <div data-ng-if="$root.user.attributes.admin" class="row">
                <div class="col-md-7">
                    <div class="card">
                        <div class="header">
                            <h3 class="title">Význam stupňů oprávnění</h3>
                        </div>
                        <div class="content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <dl>
                                        <dt>A=0, M=0 => <i class=text-info>Běžný uživatel</i></dt>
                                        <dd>vidí pouze svojí nástěnku, nemůže editovat, ani do doormanu</dd>
                                        <dt>A=0, M=1=> <i class="text-warning">Vrátný</i></dt>
                                        <dd>nemá svojí nástěnku, nevidí ani cizí. Má přístup jen do doormanu</dd>
                                        <dt>A=1, M=0 => <i class="text-success">Admin</i></dt>
                                        <dd>je jako běžný uživatel + vidí všechny uživatele systému, firemní a denní nástěnku, doorman, může editovat</dd>
                                        <dt>A=1, M=1 => <i class="text-danger">Manažer</i></dt>
                                        <dd>nemá svojí docházku, vidí to co admin a může editovat</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="footer">
                                <hr />
                                <div class="stats">
                                    <i class="ti-info text-info"></i> A = admin, M = maintainer  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card">
                        <div class="header">
                            <h3 class="title">Kódy odchodů</h3>
                        </div>
                        <div class="content">
                            <div class="row">
                                <div class="col-sm-9">
                                    <ol>
                                        <li value="0">Standartní odchod&nbsp;<i class="ti-check text-success pull-right"></i></li>
                                        <li value="200">Placená dovolená&nbsp;<i class="ti-check text-success pull-right"></i></li>
                                        <li value="201">Placený doktor&nbsp;<i class="ti-check text-success pull-right"></i></li>
                                        <li value="300">Neplacená dovolená</li>
                                        <li value="301">Neplacený doktor</li>
                                        <li value="302">Osobní důvody&nbsp;<i class="ti-check text-success pull-right"></i></li>
                                    </ol>
                                </div>
                            </div>
                            <div class="footer">
                                <hr />
                                <div class="stats">
                                    <i class="ti-info text-info"></i> Položky označené <i class="ti-check text-success"></i> jsou v aplikaci použity
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div data-ng-if="$root.user.attributes.admin" class="col-md-5">
            <div class="card">
                <div class="header">
                    <h3 class="title">Zaměstnanci</h3>
                </div>
                <div class="content">
                    <ul class="list-unstyled team-members">
                        <li data-ng-repeat="u in $ctrl.users">
                            <div class="row">
                                <div class="col-xs-9">
                                    {{ u.attributes.name}}
                                    <br />
                                    <span data-ng-if=" u.attributes.admin && u.attributes.maintainer" class="text-success"><small>Administrátor</small></span>
                                    <span data-ng-if=" u.attributes.admin && !u.attributes.maintainer" class="text-danger"><small>Manažer</small></span>
                                    <span data-ng-if=" !u.attributes.admin && !u.attributes.maintainer" class="text-info"><small>Běžný uživatel</small></span>
                                </div>

                                <div class="col-xs-3 text-right">
                                    <div data-ng-if="u.id !== $root.user.id" data-ng-click="$ctrl.deleteUser(u)" class="btn btn-sm btn-danger btn-icon"><i class="fa fa-trash"></i></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="btn btn-success" data-toggle="collapse" data-target="#collapseForm">
                                <i class="ti-plus"></i>
                                Nový
                            </div>
                        </div>
                    </div>
                    <div class="row collapse" id="collapseForm">

                        <form  data-ng-submit="$ctrl.createUser()">

                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>Nový uživatel</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Username</label>
                                            <input type="text" class="form-control border-input" placeholder="Username" data-ng-model="$ctrl.newUser.attributes.username" required>

                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Jméno</label>
                                            <input type="text" class="form-control border-input" placeholder="Plné jméno" data-ng-model="$ctrl.newUser.attributes.name" required>

                                        </div>
                                    </div>
                                    <div class="col-md-2">

                                        <div class="form-group">
                                            <label>Admin</label><br />
                                            <input type="checkbox" checked  data-ng-model="$ctrl.newUser.attributes.admin">
                                        </div>
                                    </div>
                                    <div class="col-md-2">

                                        <div class="form-group">
                                            <label>Údržbář</label><br />
                                            <input type="checkbox" checked data-ng-disabled="!$ctrl.newUser.attributes.admin"  data-ng-model="$ctrl.newUser.attributes.maintainer">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" class="form-control border-input" placeholder="Email" data-ng-model="$ctrl.newUser.attributes.email" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Nové heslo</label>
                                            <input type="password" class="form-control border-input" placeholder="Nové heslo" data-ng-model="$ctrl.newUser.attributes.password" data-ng-change="$ctrl.comparePasswords()" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Zopakovat heslo</label>
                                            <input type="password" class="form-control border-input" placeholder="Zopakovat heslo"  data-ng-model="$ctrl.newUser.attributes.password2" data-ng-change="$ctrl.comparePasswords()">
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Uložit</label><br />
                                            <button data-ng-disabled="$ctrl.mismatchedPassword" class="btn btn-success" type="submit">
                                                <i class="ti ti-save"></i>
                                                Uložit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div data-ng-if="$root.user.attributes.admin" class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">
                        Spravovat skupiny
                        <div class="btn-group pull-right" role="group">
                            <div class="btn btn-primary" data-ng-click="$ctrl.addGroup()"><i class="ti-plus"></i>&nbsp;Nová</div>
                            <div class="btn btn-success" data-ng-click="$ctrl.saveLists()">Uložit&nbsp;<i class="ti-save"></i></div>
                        </div>


                    </h4>

                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-3">
                            <h4>Koš</h4>
                            <ul class="list-group" data-as-sortable="$ctrl.sortableListeners" data-ng-model="$ctrl.trash"style="min-height: 50px; background-color: #fe7878; border-radius: 5px">
                                <li data-ng-repeat="u in $ctrl.trash" class="list-group-item list-group-item-info" data-as-sortable-item style="display: none">
                                    {{ u.attributes.name}}
                                    <span class="ti-move pull-right" data-as-sortable-item-handle></span>
                                </li>
                            </ul>
                            <h4>Uživatelé</h4>
                            <ul class="list-group" data-as-sortable="$ctrl.listListeners" data-ng-model="$ctrl.users">
                                <li data-ng-repeat="u in $ctrl.users" class="list-group-item list-group-item-info" data-as-sortable-item>
                                    {{ u.attributes.name}}
                                    <span class="ti-move pull-right" data-as-sortable-item-handle></span>
                                </li>
                            </ul>
                        </div>


                        <div class="col-md-3" data-ng-repeat="group in $ctrl.groups">
                            <h4 style="min-height: 30px">
                                <span contenteditable="true" data-ng-model="group.attributes.name"></span>
                                <div class="btn btn-sm btn-danger pull-right" data-ng-click="$ctrl.rmGroup(group)"><i class="ti-trash"></i></div>
                            </h4>
                            <ul class="list-group" data-as-sortable="$ctrl.sortableListeners" data-ng-model="group.attributes.members"style="min-height: 50px; background-color: #00b3ee; border-radius: 5px">
                                <li data-ng-repeat="u in group.attributes.members" class="list-group-item list-group-item-info" data-as-sortable-item>
                                    {{ u.attributes.name}}
                                    <span class="ti-move pull-right" data-as-sortable-item-handle></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>