<div class="container-fluid">
    <div class="row" data-ng-repeat='day in $ctrl.periodStorage| daysFromInterval'>
        <div class="row">
            <div class="col-md-6">
                <h3>{{ day | moment: 'dddd, D.M.YYYY'}}</h3>
            </div>
        </div>
        <div class="row" data-ng-init="stat= (day | daily)">
            <div class="col-md-3">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="icon-big icon-info text-center">
                                    <i class="ti-agenda"></i>
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <div class="numbers">
                                    <p>V práci</p>
                                    {{ stat.total }}
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-calendar"></i> {{ day | moment: 'dddd, D.M.YYYY'}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3" data-ng-if="stat.total > 0">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="icon-big icon-success text-center">
                                    <i class="ti-time"></i>
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <div class="numbers">
                                    <p>První v práci</p>
                                    {{ stat.first.employee.attributes.name }}
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-calendar"></i> Dorazil v {{ stat.first.time | moment: 'HH:mm' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3" data-ng-if="stat.total > 0">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="icon-big icon-danger text-center">
                                    <i class="ti-time"></i>
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <div class="numbers">
                                    <p>Poslední v práci</p>
                                    {{ stat.last.employee.attributes.name }}
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-calendar"></i> Odešel v {{ stat.last.time | moment: 'HH:mm' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
