<div class="card">
  <div class="content">
    <div class="row">
      <div class="col-xs-4">
        <div class="icon-big icon-warning text-center">
          <i class="ti-time"></i>
        </div>
      </div>
      <div class="col-xs-8">
        <div class="numbers">
          <p>Celkem odpracováno</p>
          {{ $ctrl.total }}
        </div>
      </div>
    </div>
    <div class="footer">
      <hr />
      <div class="stats">
        <i class="ti-calendar"></i> Za den {{ $ctrl.date | moment: 'DD.MM.YYYY' }}
      </div>
    </div>
  </div>
</div>
