<div class="card">
    <div class="header">
        <h4 class="title">Docházka 
        <div class="btn-group btn-group-sm pull-right">
                <label class="btn btn-info" ng-model="$ctrl.displayPreferences.graphSummary" uib-btn-radio="'daily'">Denní</label>
                <label class="btn btn-warning" ng-model="$ctrl.displayPreferences.graphSummary" uib-btn-radio="'weekly'">Týdení</label>
                <label class="btn btn-danger" ng-model="$ctrl.displayPreferences.graphSummary" uib-btn-radio="'monthly'">Měsíční</label>
        </div>
            </h4>
    </div>
    <div class="content">
        <div id="chartActivity" class="ct-chart"></div>
        <div class="footer">
            <div class="chart-legend">
                <i class="fa fa-circle text-info"></i> Hodin za den
            </div>
            <hr />
            <div class="stats">
                <i class="ti-reload"></i> Výpočet trval {{ $ctrl.elapsedTime}} sekund
            </div>
        </div>
    </div>
</div>
